# Virtual environment
.venv/

# Local data
data/

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Environment variables / secrets
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# Spark temporary files
.sparkStaging/
metastore_db/
derby.log

# OS files
.DS_Store
Thumbs.db