# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Local data
data/bronze/
data/silver/
data/gold/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db
